.page {
  font-family: var(--font-family);
  font-size: 18px;
  background-color: #000028;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
}

.page-title {
  color: var(--header-title-color);
  font-weight: 700;
  font-size: 157px;
  line-height: 129.53px;
}

.shadow-decor {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title {
  color: var(--header-text-color);
  font-weight: 700;
  background: var(--accent-color);
  height: fit-content;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--decorate-color);
  border-block-start: 1px solid var(--decorate-color);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--decorate-color);
  border-block-end: 1px solid var(--decorate-color);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.rec-decor {
  position: absolute;
  z-index: -1;
  visibility: var(--rec-decor-visibility);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 29px;
  inset-block-start: 20px;
}

.rec-decor::before {
  content: "REC";
  color: var(--accent-color);
  line-height: 25px;
}

.rec-decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu{
  justify-self: flex-end;
  margin-block: 75px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-item {}

.header__theme-menu-button{
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--button-color);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--border-hover-color);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.article{
  display: grid;
  gap: 10px;
  color: var(--text-color);
}

.article-list {
  display: grid;
  gap: 20px;

}

.article-list-item {}

.title {
  color: var(--sub-title-color);
  font-weight: 700;
  line-height: 23.4px;
}

.sub-title {
  color: var(--accent-color);
  font-weight: 400;
  line-height: 23.4px;
}

.title-decor {
  color: var(--header-text-color);
  background: var(--accent-color);
}

.gallery {
  display: grid;
  gap: 10px;
}

.img-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

@media (width >= 768px) {

  .header__title {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .section-why {
    grid-template-columns: 1fr 2fr;
  }

  .section-how {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .img-sunset {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .img-icecream,
  .img-tape {
    grid-row: span 2;
  }

  .img-street {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media (width >= 1024px) {

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .header__theme-menu{
    justify-self: center;
    margin-block: 20px;
  }

  .section-what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}