/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-size: 18px;
  --font-family: 'IBM Plex Mono', sans-serif;
  --background-image: url(../images/cover-image.png);
  --rec-decor-visibility: hidden;

}