/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url(../images/cover-image.png);
  --accent-color: #FF0070;
  --header-text-color: #000028;
  --header-title-color: #DB00FF;
  --text-color: #F1B2CE;
  --font-family: 'IBM Plex Mono', monospace;
  --sub-title-color: #FF0070;
  --border-hover-color: rgba(255 0 112 0.4);
  --button-color: #FF0070;
  --decorate-color: #FF0070;
  --rec-decor-visibility: visible;
}
